$calendarBg: #dedede
$calendarWidth: 980px
$dayCellPadding: 0.2em 0.2em 0.2em 0.2em

.calendar-wrap
	//height: 10rem
	width: 20rem
	background: $calendarBg
	box-sizing: border-box
	
	&:before, &:after
		content: ""
		display: table
		clear: both
		height: 0
		font-size: 0
		line-height: 0
		
	.day-cell
		width: 14.285%
		height: 30px
		box-sizing: border-box
		padding: $dayCellPadding
		float: left
		text-align: center
		border: 1px solid #8c8c8c
		
		&:hover
			cursor: pointer
			background: #bcbc8b
			
	.calendarHead .day-cell
		background: $calendarBg !important